:root {
  --color-primary: #22c55e; /* Tailwind green-500 */
  --color-muted: #e5e7eb; /* Tailwind gray-200 */
}

@import "tailwindcss";
/* @tailwind base;
@tailwind components;
@tailwind utilities; */
