:root {
  --color-primary: #22c55e; /* Tailwind green-500 */
  --color-muted: #e5e7eb; /* Tailwind gray-200 */
}

@import "tailwindcss";
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@keyframes fadeSlide {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeSlide {
  animation: fadeSlide 0.25s ease-out;
}
